*  {
  box-sizing: border-box;
}
.address {
  font-family: 'Helvetica', sans-serif;
}

.name, .street, .city-state-zip {
  margin: 0.1em 0;
}

.name {
  font-size: 1.2em;
}

.envelope {
  font-family: sans-serif;
  position: relative;
  border: solid 1px black;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1em;
  height:250px;
  width: 520px;
}

.sender {
  align-self: flex-start;
  font-size: 0.8em;
}

.receiver {
  margin-top: 50px;
}

.stamp {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 60px;
  height: 70px;
  border: solid 1px black;
  text-align: center;
}

.stamp__label {
  display: block;
  margin-top: 25px;
  color: lightgray;
  font-weight: 700;
  transform: rotate(-35deg);
}

.credit-card {
  color: white;
  background-color: royalblue;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 1.5em 1em 0.3em 1em;
}

.bank-name {
  width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: 1.5em;
  font-family: sans-serif;
  margin-bottom: 25px;
}

.cc-number {
  font-family: monospace;
  width: 100%;
  font-size: 1.6em;
  font-weight: 100;
  text-align: justify;
  letter-spacing: 1.5px;
}

.cc-little-num {
  font-size: 0.7em;
  width: 30%;
  margin-top: -15px;
}

.exp-date {
  width: 30%;
  font-size: 1.5em;
  font-family: monospace;
  padding-left: 5px;
}

.cardholder-name {
  font-family: monospace;
  font-size: 1.2em;
  text-transform: uppercase;
  width: 100%;
}

.valid-thru {
  font-size: 0.5em;
  text-transform: uppercase;
  width: 15%;
  text-align: right;
}

.poster {
  background-color: black;
  padding: 1em;
  width: 350px;
  display: flex;
  align-items: center;
  flex-flow: column;
  color: yellow;
  font-family: sans-serif;
}
.poster__image {
  border: solid 3px white;
  display: flex;
}

.poster__image > img {
  object-fit: cover;
}
.poster__title {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}